.container-fluid {
  padding: 2% 10%;
}

.navbar .container-fluid {
  padding: 0% 10%;
}

.container-login {
  padding: 0% 30%;
}

.card.spaces:hover {
  transform: scale(1.1);
  position: initial;
  z-index: 111;
  background: #fff;
}

.card.spaces {
  height:150px;
}

/* @media screen and (min-width: 1400px) {
.col-spaces {
  width: 12.5%;
}
} */

@media screen and (min-width: 1400px) {
  .card.spaces {
    height: 200px;
  }
}

.card-title {
  font-size: 1.2rem;
}

.mobile-driveway-text {
  writing-mode: vertical-lr;
}