{% extends "base.html" %}
{% block content %}


<div class="container px-4 text-center">
    <div class="row gx-5 gy-2">
        <div class="col-12 col-xxl-6">
            <h1 class="display-1 pb-5">Users</h1>
            <div class="card">
                <div class="card-header">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">Name</div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for user in users %}
                    <li class="list-group-item">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    {{ user.name }}
                                </div>
                                <div class="col">
                                    <a href="{{ url_for('del_user', id=user.id) }}"><button
                                            class="btn btn-outline-secondary">Remove</button></a>

                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#edituser-{{user.id}}"
                                        data-bs-whatever="@getbootstrap">Edit</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <br>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewUser"
                data-bs-whatever="@getbootstrap">Add user</button>
        </div>
        <div class="col-12 col-xxl-6">
            <h1 class="display-1 pb-5">Spaces</h1>
            <div class="card">
                <div class="card-header">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">ID</div>
                            <div class="col">Owner</div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for space in spaces %}
                    <li class="list-group-item">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    {{ space.id }}
                                </div>
                                <div class="col">
                                    {{ space.user.name }}
                                </div>
                                <div class="col">
                                    <a href="{{ url_for('del_space', id=space.id) }}"><button
                                            class="btn btn-outline-secondary">Remove</button></a>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#editSpace-{{space.id}}"
                                        data-bs-whatever="@getbootstrap">Edit</button>
                                </div>
                            </div>
                        </div>
                    </li>

                    {% endfor %}
                </ul>

            </div>
            <br>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewSpace"
                data-bs-whatever="@getbootstrap">Add Space</button>
        </div>
    </div>
</div>


<!-- Edit user pop-up -->
{% for user in users %}
<div class="modal fade" id="edituser-{{user.id}}" tabindex="-1" aria-labelledby="edituser-{{user.id}}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="edituser-{{user.id}}Label">Change user's name.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('edit_user', id=user.id) }}" method="post">
                    <div class="mb-3">
                        <label for="new-user-name" class="col-form-label">New name:</label>
                        <input type="text" class="form-control" id="new-user-name" name="new-user-name">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for space in spaces %}
<div class="modal fade" id="editSpace-{{ space.id }}" tabindex="-1" aria-labelledby="editSpace-{{ space.id }}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editSpace-{{ space.id }}Label">Change the user of space {{ space.id }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('edit_space', id=space.id) }}" method="post">
                    <div class="mb-3">
                        <p>If user is not listed, please add new.</p>
                        <select class="form-select" aria-label="Default select example" name="user_select">
                            <option selected>Who is the new user?</option>

                            {% for user in users %}
                            <option value="{{ user.name }}">{{ user.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                            data-bs-target="#addNewuser" data-bs-whatever="@getbootstrap">Add
                            user</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}